PORT=5000
NODE_ENV=development
JWT_SECRET=kpg_enterprise_smart_city_sec_jwt_key_2026_prod
COOKIE_SECRET=kpg_secure_http_only_cookie_secret_99421

# Google Gemini AI API Key
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# MongoDB Atlas Connection String
MONGODB_URI="PASTE_MY_ATLAS_CONNECTION_STRING_HERE"
